*{
   margin: 0%;
   padding: 0%; 
}
body{
    min-height: 100vh;
    background-image: url("../images/food.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    margin: 0;
    

}
#navbar{
    background-color:black;
}
#HungrYHub-logo{
    margin:40px 530px ;

}
.fa-cart-shopping{
    color:white;
   float: right; 
   margin-top: -135px;
}
.cart_txt{
    color:white;
    float: right;
    margin-top: -120px;
    font-family: 'Roboto Mono',monospace;
    margin-right: 10px;
    
}
.fa-mobile{
    color: whitesmoke;
    margin-top: -130px;
    float: left;
    height: 43px;
    margin-left: 10px;
}
.sub-txt{
    margin-top: 20px;
    color: burlywood;

}
.sub-txt:hover{
    color: crimson;
}
.num_txt{
    color:whitesmoke;
    float: left;
    margin-top: -120px;
}
.num_txt:hover{
    color: brown;
}
.num{
    margin-left: 50px;
}
#content{
    overflow: hidden;
    background-color: transparent;
    list-style-type: none;
    

}
#li{
    float: left;
      font-family: "Pirata One", cursive;
       font-weight: 400;
       font-size: 30px;
       padding-bottom: 40px;
       box-shadow: 1px 14px 13px -2px #E6EAFF;

    
}
#li a:hover{
    color: cyan;
}
#li a{
    color: wheat;
    text-decoration: none;
    margin: 0px 80px;
}
.active{
    margin-left: 300px;
    border-top: 2px solid rgb(166, 138, 138);
    
}
#header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#search-bar{
    float: right;
    margin-top: 250px;
    margin-right: 50px;
   


}

/**#search-bar:hover{
    border-bottom: 2px solid rgb(199, 21, 92);
    
}**/
#search{
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    text-align: center;
    border-bottom: none;
    letter-spacing: 3px;
    height: 30px;
    width: 450px;
    color: rgb(6, 240, 209);
    font-size: 28px;
    font-family: "Pirata One";
    font-weight: 400;
    font-style: cursive;
    border-bottom: 2px solid rgb(114, 8, 89);
    padding-bottom: -10px;
    padding-top: -10px;
    margin-left: 200px;


}
#search-txt{
    color: rgb(250, 5, 50);
    letter-spacing: 3px;
    font-family: 'Rock Salt',cursive;
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 250px;
    margin-top: -90px;
}
#search-txt:hover{
    color: rgb(4, 253, 91);
}
#btn1{
    background-color: transparent;
    border: 2px solid orchid;
    color: black;
    background-color: rgb(29, 55, 2);
    font-size: 16px;
    padding: 10px;
    border-radius:2px ;
    transition: 0.5s ease-in-out;
    margin-left: 150px;

}
#btn1:hover{
    background-color: transparent;
    color: rgb(29, 55, 2);
}
#head2{
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
#icons1{
    text-align: center;
    position: relative;
}
.txt1{
    margin-bottom: 10px;
    text-align: center;

}
.txt1-sub{
    margin: 0px;
    font-size: 10px;
    text-align: center;
    font-family: cursive;
  
  


}
#icons2{
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    width: auto;
    height: auto;
}
.txt2{
    text-align: center;
    font-family: cursive;
    margin-bottom: 10px;
}
.txt2-sub{
    margin: 0px;
    font-size: 10px;
    text-align: center;
    font-family: cursive;
}
#icons1{
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}
#icons3{
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    width: auto;
    height: auto;
}
.txt3{
    margin-bottom: 10px;
    text-align: center;
    font-family: cursive;
}
.txt3-sub{
    margin: 0px;
    font-size: 10px;
    text-align: center;
    font-family: cursive;
}
#head2{
    margin-top: 40px;
}
#best-sales{
    background-image: url("../images/food.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#sales-head{
    color: rgb(171, 228, 12);
    text-align: center;
    font-family: cursive;
    font-size: 30px;
}
#para1{
    color: rgb(10, 49, 246);
    font-size: 15px;
    width: 500px;
    text-align: center;
    margin-left: 45px;
    margin-top: 5px;

}
#burger1{
    height: 400px;
    margin-left: 50px;
    transition: 1s ease-in-out;
}
#burger1:hover{
    transform: rotate(360deg);
}
#burger1-txt{
    color: black;
    font-family: cursive;
    margin-left: 80px;
    font-size: 45px;
}
#para2{
    color: rgb(241, 7, 7);
    font-size: 15px;
    width: 500px;
    text-align: center;
    margin-left: 260px;
    margin-top: -70px;
    float: right;
    margin-right: 60px;

}
#burger2{
    float: right;
    margin-top: -535px;
    height: 400px;
    margin-right: 52px;
    transition: 1s ease-in-out;
}
#burger2:hover{
    transform: rotate(360deg);
}
#burger2-txt{
    color: black;
    font-family: cursive;
    float: right;
    margin-top: -145px;
    font-size: 45px;
    margin-right: 20px;
}
#review{
    background-image: url(images/background1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
    width: 100%;
    position: relative;
    overflow: hidden;


}
#head3{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    letter-spacing: 2px;
    color: whitesmoke;
    

}
#icon1-review{
    margin-right: 200px;
    margin-top: 100px;
    float: right;
   /** border: 3px solid whitesmoke;
    border-radius: 2px;**/

}
#review1{
    color: wheat;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border: 4px solid whitesmoke;
    width: 1200px;
    margin-top: 100px;
}
#end{
    background-color: rgb(113, 104, 104);
    margin: 0px auto;
}
.head-contact{
    color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 3px;
    border-bottom: 2px solid wheat;
    width: 400px;
    margin: 0px auto;


}
#input-text{
    background-color: transparent;
    border: 2px solid orangered;
    height: 45px;
    width: 400px;
    margin-top: 40px;
    margin-left: 33%;
    transition: 0.5s ease-in-out;


}
#input-text:hover{
    border: 2px solid rgb(241, 3, 118);
    background-color: rgb(241, 234, 234);
}
#send-contact{
    background-color: burlywood;
    border: 1px solid wheat;
    color: whitesmoke;
    padding-bottom: 10px;
    padding-top: 8px;
    width: 80px;
    font-size: 20px;
    margin-left: -4px;
    margin-bottom: -10px;
    transition: 1s ease-in-out;

}
#send-contact:hover{
    background-color: transparent;
    border: 1px solid rgb(161, 50, 10);
    color: rgb(236, 115, 10);

}
#logo-end{
    margin-left: 37%;
    margin-top: 40px;
}
#content-end{
    background-color: grey;
    width: 1300px;
    margin-top: 30px;
    list-style-type: none;
    overflow: hidden;
}
#li-end{
    float: left;
    margin-left: 100px;
    padding-top: 30px;
    padding-bottom: 30px;

}
#li-end a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
    font-family: cursive;
}
#up-arrow{
    float: right;
    margin-top: -80px;
    margin-right: 60px;
    color: rgb(247, 247, 12);

}
